<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/twitter_clone_practice?currentSchema=public</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="app.tweet.entity.TsFavorite" />
        <mapping class="app.tweet.entity.TmPost" />
        <mapping class="app.tweet.entity.TsFollow" />
        <mapping class="app.tweet.entity.TsComment" />
        <mapping class="app.tweet.entity.TsNotification" />
        <mapping class="app.tweet.entity.TmUser" />
        <mapping class="app.tweet.entity.TsShare" />
    </session-factory>
</hibernate-configuration>
