/*------------------------------*/
/*BASE                          */
/*------------------------------*/
html {
  font-size: 75%;
  width: 100%;
  height: 100%; }

body {
  font-family: 'Noto Sans Japanese', 'sans-serif';
  color: #767676;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5; }

a {
  color: #767676;
  text-decoration: none; }

ul {
  list-style: none; }

button[type=submit] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent; }

input[type="file"] {
  display: none; }

.wrapper {
  display: flex; }

.objDisabled {
  background-color: #ccc !important; }

/*-----------------------------*/
/*LAYOUT                       */
/*-----------------------------*/
.home {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  text-align: center;
  padding-top: 20px; }

.user {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  text-align: center;
  padding-top: 20px; }

.notification {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  display: flex;
  justify-content: center; }

.search {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  height: 50px;
  color: #fff;
  background-color: #b2f0ff;
  padding: 0; }

/*------------------------------*/
/*BUTTON                        */
/*------------------------------*/
.button--save, .button--post, .button--nav, .button--exit, .button--edit, .button--follow, .button--follow--large {
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer; }
  .button--save:hover, .button--post:hover, .button--nav:hover, .button--exit:hover, .button--edit:hover, .button--follow:hover, .button--follow--large:hover {
    opacity: 0.8; }

.button--save {
  display: block;
  width: 40%;
  padding-bottom: 5px;
  height: 40px;
  margin: 10px auto;
  font-size: 1.5rem;
  background-color: #b2f0ff; }

.button--post {
  display: block;
  width: 30%;
  height: 40px;
  margin-left: auto;
  font-size: 1.5rem;
  background-color: #b2f0ff; }

.button--nav {
  width: 65%;
  height: 70%;
  font-size: 140%;
  line-height: 1.8;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #b2f0ff; }

.button--exit {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #ffe1b2; }

.button--edit {
  width: 200px;
  height: 40px;
  line-height: 1.9;
  font-size: 1.5rem;
  background-color: #b2f0ff; }

.button--follow {
  width: 80px;
  height: 24px;
  font-size: 1.0rem;
  line-height: 1.8;
  background-color: #b2f0ff; }

.button--follow--large {
  width: 200px;
  height: 40px;
  font-size: 1.5rem;
  line-height: 1.9;
  background-color: #b2f0ff; }

/*------------------------------*/
/*FIELD                         */
/*------------------------------*/
.field--user_id, .field--password, .field--post, .field--small {
  display: block;
  width: 250px;
  height: 40px;
  border-radius: 5px; }

.field--user_id {
  margin: 50px auto; }

.field--password {
  margin: 15px auto; }

.field--post {
  width: 600px;
  height: 200px; }

.field--small {
  widht: 120px;
  height: 30px;
  border-radius: 4px;
  margin: 10px auto; }

/*------------------------------*/
/*LINK                          */
/*------------------------------*/
.link--header, .link--content {
  font-size: 1.8rem;
  text-decoration: none; }

.link--content {
  font-size: 4.5rem;
  margin-right: 10px;
  vertical-align: top; }

.icon--small:hover, .icon--middle:hover, .icon--large:hover {
  opacity: 0.8; }

.icon--small {
  width: 25px;
  height: 25px;
  border-radius: 50%; }

.icon--middle {
  width: 55px;
  height: 55px;
  border-radius: 50%; }

.icon--large {
  width: 120px;
  height: 120px;
  border-radius: 50%; }

.share__color {
  color: aquamarine; }

.favorite__color {
  color: blanchedalmond; }

.prof-edit-dialog {
  width: 40%;
  height: 70%;
  border: 1px solid #000; }

.prof-edit {
  width: 100%;
  height: 100%; }
  .prof-edit__heading {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #000;
    padding-bottom: 2%;
    margin-bottom: 10px; }
    .prof-edit__heading__close {
      margin-right: auto;
      font-size: 300%;
      border-radius: 50%; }
      .prof-edit__heading__close:hover {
        cursor: pointer;
        background-color: #e3e3e3; }
  .prof-edit__edit {
    width: 100%;
    height: 85%; }
    .prof-edit__edit__image {
      width: 100%;
      height: 10%; }
    .prof-edit__edit__username {
      width: 100%;
      height: 30%; }
    .prof-edit__edit__bio {
      width: 100%;
      height: 40%; }
      .prof-edit__edit__bio .bio-area {
        width: 100%;
        height: 90%;
        border: 1px solid #b2f0ff;
        border-radius: 3%;
        height: 55%;
        font-size: 1.3rem;
        margin: 5px auto; }
  .prof-edit__label {
    font-size: 1.5rem;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 5%; }
  .prof-edit__file {
    padding: 6px 12px;
    cursor: pointer; }
    .prof-edit__file__image {
      border-radius: 50%; }

.post-add-dialog {
  width: 40%;
  height: 30%;
  border: 1px solid #000; }
  .post-add-dialog--form {
    width: 100%;
    height: 100%; }

.post-add__heading {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #000;
  padding-bottom: 2%;
  margin-bottom: 10px; }
  .post-add__heading__close {
    font-size: 300%;
    border-radius: 50%; }
    .post-add__heading__close:hover {
      cursor: pointer;
      background-color: #e3e3e3; }
.post-add__post {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center; }
  .post-add__post__image {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 50%; }
  .post-add__post__post {
    display: inline-block;
    border: 1px solid #b2f0ff;
    border-radius: 3%;
    width: 80%;
    height: 75%;
    font-size: 1.3rem; }

/*------------------------------*/
/*HEADER                        */
/*------------------------------*/
.header__sub {
  width: 20%; }

.header {
  height: 6%; }

.header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center; }
  .header__title {
    margin-right: auto; }
  .header__nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    line-height: 1.0; }
  .header__sub {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    line-height: 2.0; }

@media screen and (max-width: 1080px) {
  .header__sub {
    width: 24%; } }
@media screen and (max-width: 900px) {
  .header__sub {
    width: 32%; } }
@media screen and (max-width: 670px) {
  .header__sub {
    width: 45%; } }
@media screen and (max-height: 640px) {
  .header {
    height: 8%; } }
@media screen and (max-height: 360px) {
  .header {
    height: 10%; } }
/*-----------------------------*/
/*POST                         */
/*-----------------------------*/
.post {
  width: 65%;
  margin: 3px auto;
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff; }

.post-user {
  display: flex;
  justify-content: flex-start;
  height: 30px; }
  .post-user__content {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-right: 10px; }

.post-text {
  margin-top: 25px;
  margin-left: 15%;
  font-size: 1.3rem;
  text-align: left; }

.post-mention {
  display: flex;
  justify-content: space-between;
  width: 30%; }
  .post-mention__content {
    font-size: 1.8rem; }

/*------------------------------*/
/*LOGIN                         */
/*------------------------------*/
.login {
  width: 30%; }

.login {
  height: 50%; }

.login {
  margin: 10% auto; }

.login-form {
  display: block;
  background-color: #fff;
  padding-top: 5%;
  border-radius: 8%; }

.login__text {
  text-align: center;
  font-size: 1.7rem; }

@media screen and (max-width: 1080px) {
  .login {
    width: 45%; } }
@media screen and (max-width: 950px) {
  .login {
    width: 50%; } }
@media screen and (max-width: 670px) {
  .login {
    width: 60%; } }
@media screen and (max-height: 640px) {
  .login {
    height: 60%; } }
@media screen and (max-height: 360px) {
  .login {
    height: 70%; } }
/*-----------------------------*/
/*HOME                         */
/*-----------------------------*/
.home__title {
  width: 80%;
  font-size: 1.8rem;
  padding: 10px;
  margin: 5px auto;
  border-bottom: 1px solid #d3d3d3; }
.home__post-form {
  background-color: #e3f8fd; }

.post-area {
  width: 80%;
  height: 80px;
  border-bottom: 1px solid #d3d3d3;
  margin: 0 auto;
  padding: 10px; }
  .post-area:hover {
    background-color: #f8f8f8;
    cursor: pointer; }
  .post-area__content {
    display: flex;
    justify-content: center;
    width: 80%;
    height: inherit;
    margin: auto auto auto 10px;
    text-align: left; }
    .post-area__content__form {
      width: 60%;
      height: 65%;
      background-color: #f3f3f3;
      border-radius: 20px;
      font-size: 1.3rem;
      line-height: 3em;
      padding-left: 10px; }

.post-form__main {
  display: flex;
  justify-content: center; }

/*-----------------------------*/
/*USER                         */
/*-----------------------------*/
.user-prof {
  width: 65%;
  background-color: #fff;
  margin: 5px auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #d3d3d3; }
  .user-prof__main {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px; }
    .user-prof__main-icon {
      border-radius: 50%; }
    .user-prof__main-button {
      margin: auto 10px 10px auto; }
    .user-prof__main .user-icon {
      font-size: 10rem; }
  .user-prof__text {
    font-size: 1.3rem;
    text-align: left;
    padding-bottom: 5px; }
    .user-prof__text-name {
      font-weight: bold; }
    .user-prof__text-id {
      color: #b3b3b3; }
    .user-prof__text-bio {
      display: inline-block;
      margin: 10px 5px; }
  .user-prof__headline {
    width: 95%;
    border-top: 1px solid #d3d3d3; }
    .user-prof__headline .user-info {
      width: 90%;
      background-color: #fff;
      display: flex;
      justify-content: space-between; }
      .user-prof__headline .user-info__content {
        font-size: 1.6rem;
        line-height: 1.8;
        margin-right: 10px; }
        .user-prof__headline .user-info__content__main {
          font-weight: bold; }
        .user-prof__headline .user-info__content__sub {
          font-size: 1.0rem;
          line-height: 1.0; }

/*------------------------------*/
/*FOLLOW                        */
/*------------------------------*/
.follow {
  width: 65%;
  line-height: 1.6;
  margin: 0 auto; }
  .follow__user {
    height: 100px;
    background-color: white;
    margin-left: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #d3d3d3; }
    .follow__user__text > :nth-child(1) {
      font-weight: bold; }
    .follow__user__text > :nth-child(2) {
      color: #b3b3b3; }
    .follow__user__text > :nth-child(3) {
      display: inline-block;
      margin: 10px 5px; }
    .follow__user__content {
      display: flex;
      justify-content: flex-start;
      padding-left: 0; }
      .follow__user__content > :last-child {
        margin: auto 10px auto auto; }

/*-----------------------------*/
/*NOTIFICATION                 */
/*-----------------------------*/
.notification__list {
  width: 40%; }
  .notification__list__favorite {
    width: 40%;
    margin-left: 20px;
    border-left: 10px dotted #e3e3e3; }
.notification__subject {
  display: flex;
  justify-content: flex-start;
  font-size: 1.6rem; }
  .notification__subject > :last-child {
    margin-left: 10px; }
.notification__object {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #e6e6e6;
  border-radius: 30px; }
.notification__head-text {
  font-weight: bold;
  font-size: 1.4rem;
  border-bottom: 2px solid #b2f0ff;
  padding-bottom: 3px; }
.notification__post {
  line-height: 1.5; }
  .notification__post > :first-child {
    font-weight: bold; }
  .notification__post__text {
    text-align: center; }

.search {
  font-size: 1.7rem;
  line-height: 2.3;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
