<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title>フォロー</title>
    </head>
    <body>
        <header class="header">
            <ul class="header__nav">
                <li><a href="#" class="link--header">
                    <i class="fas fa-home"></i>ホーム</a></li>
                <li><a href="notification.html" class="link--header">
                    <i class="fas fa-bell"></i>通知</a></li>
                <li><a href="#" class="link--header">
                    <i class="fas fa-envelope"></i>メッセージ</a></li>
                <li>
                    <form class="header--nav-search">
                    <input type="text">
                    <a href="search.html" class="link--header"><i class="fas fa-search"></i>検索</a>
                </form>
                </li>
                
            </ul>
            <div class="header__sub">
                <a href="user.html" class="link--header"><i class="fas fa-smile"></i></a>
                <a href="login.html" class="button--exit">ログアウト</a>
            </div>
        </header>

        <div class="user">

            <ul class="user__headline">
                <li class="user-icon">
                    <a href="user.html"><i class="fas fa-smile"></i></a>
                </li>

                <!-- ユーザ情報 -->
                <li class="user-info">

                    <ul class="user-info__content">
                        <a href="user.html"><li class="user-info__content__sub">投稿</li></a>
                        <a href="user.html"><li class="user-info__content__main">19</li></a>
                    </ul>
                    <ul class="user-info__content">
                        <a href="following.html"><li class="user-info__content__sub">フォロー</li></a>
                        <a href="following.html"><li class="user-info__content__main">13</li></a>
                    </ul>
                    <ul class="user-info__content">
                        <a href="follower.html"><li class="user-info__content__sub">フォロワー</li></a>
                        <a href="follower.html"><li class="user-info__content__main">14</li></a>
                    </ul>
                    <ul class="user-info__content">
                        <a href="favorite.html"><li class="user-info__content__sub">お気に入り</li></a>
                        <a href="favorite.html"><li class="user-info__content__main">5</li></a>
                    </ul>
                </li>
                
                <li class="user-button">
                <a href="#" class="button--edit">プロフィールを編集</a>
                </li>

            </ul>
 
            <!-- ユーザ基本情報 -->
            <div class="user__about">
                <ul class="user__about__text">
                    <li>ユーザ名</li>
                    <li>ユーザID</li>
                    <li>Vivamus vitae faucibus augue. In mauris massa, blandit quis turpis at, sodales lacinia velit. Sed purus lorem, tristique non pulvinar vel, laoreet in odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </li>
                    <li>登録日: 2019年1月</li>
                    <li>誕生日: 2000年1月1日</li>
                </ul> 
            </div>


            <!-- フォロー欄 -->
            <div class="follow">
                <ul class="follow__user">
                    <li>
                        <ul class="follow__user__content">
                        <li class="icon--middle"><i class="fas fa-smile"></i></li>
                        <li class="button--follow">フォロー中</li>
                    </ul> 
                    </li>

                    <li class="follow__user__content">ユーザ名<i class="fas fa-heart"></i></li>
                    <li class="follow__user__content">ユーザID</li>
                    <li class="follow__user__content">Nulla pellentesque hendrerit erat, luctus egestas arcu ultrices ut. In hac habitasse platea dictumst. </li>
                </ul>
                
                <ul class="follow__user">
                    <li>
                        <ul class="follow__user__content">
                        <li class="icon--middle"><i class="fas fa-smile"></i></li>
                        <li class="button--follow">フォロー中</li>
                    </ul> 
                    </li>

                    <li class="follow__user__content">ユーザ名<i class="fas fa-heart"></i></li>
                    <li class="follow__user__content">ユーザID</li>
                    <li class="follow__user__content">Nulla pellentesque hendrerit erat, luctus egestas arcu ultrices ut. In hac habitasse platea dictumst. </li>
                </ul>
                
                <ul class="follow__user">
                    <li>
                        <ul class="follow__user__content">
                        <li class="icon--middle"><i class="fas fa-smile"></i></li>
                        <li class="button--follow">フォロー中</li>
                    </ul> 
                    </li>

                    <li class="follow__user__content">ユーザ名<i class="fas fa-heart"></i></li>
                    <li class="follow__user__content">ユーザID</li>
                    <li class="follow__user__content">Nulla pellentesque hendrerit erat, luctus egestas arcu ultrices ut. In hac habitasse platea dictumst. </li>
                </ul>
                
                <ul class="follow__user">
                    <li>
                        <ul class="follow__user__content">
                        <li class="icon--middle"><i class="fas fa-smile"></i></li>
                        <li class="button--follow">フォロー中</li>
                    </ul> 
                    </li>

                    <li class="follow__user__content">ユーザ名<i class="fas fa-heart"></i></li>
                    <li class="follow__user__content">ユーザID</li>
                    <li class="follow__user__content">Nulla pellentesque hendrerit erat, luctus egestas arcu ultrices ut. In hac habitasse platea dictumst. </li>
                </ul>
                
                <ul class="follow__user">
                    <li>
                        <ul class="follow__user__content">
                        <li class="icon--middle"><i class="fas fa-smile"></i></li>
                        <li class="button--follow">フォロー中</li>
                    </ul> 
                    </li>

                    <li class="follow__user__content">ユーザ名<i class="fas fa-heart"></i></li>
                    <li class="follow__user__content">ユーザID</li>
                    <li class="follow__user__content">Nulla pellentesque hendrerit erat, luctus egestas arcu ultrices ut. In hac habitasse platea dictumst. </li>
                </ul>
                
                <ul class="follow__user">
                    <li>
                        <ul class="follow__user__content">
                        <li class="icon--middle"><i class="fas fa-smile"></i></li>
                        <li class="button--follow">フォロー中</li>
                    </ul> 
                    </li>

                    <li class="follow__user__content">ユーザ名<i class="fas fa-heart"></i></li>
                    <li class="follow__user__content">ユーザID</li>
                    <li class="follow__user__content">Nulla pellentesque hendrerit erat, luctus egestas arcu ultrices ut. In hac habitasse platea dictumst. </li>
                </ul>
                
                <ul class="follow__user">
                    <li>
                        <ul class="follow__user__content">
                        <li class="icon--middle"><i class="fas fa-smile"></i></li>
                        <li class="button--follow">フォロー中</li>
                    </ul> 
                    </li>

                    <li class="follow__user__content">ユーザ名<i class="fas fa-heart"></i></li>
                    <li class="follow__user__content">ユーザID</li>
                    <li class="follow__user__content">Nulla pellentesque hendrerit erat, luctus egestas arcu ultrices ut. In hac habitasse platea dictumst. </li>
                </ul>
                
                <ul class="follow__user">
                    <li>
                        <ul class="follow__user__content">
                        <li class="icon--middle"><i class="fas fa-smile"></i></li>
                        <li class="button--follow">フォロー中</li>
                    </ul> 
                    </li>

                    <li class="follow__user__content">ユーザ名<i class="fas fa-heart"></i></li>
                    <li class="follow__user__content">ユーザID</li>
                    <li class="follow__user__content">Nulla pellentesque hendrerit erat, luctus egestas arcu ultrices ut. In hac habitasse platea dictumst. </li>
                </ul>
                
                <ul class="follow__user">
                    <li>
                        <ul class="follow__user__content">
                        <li class="icon--middle"><i class="fas fa-smile"></i></li>
                        <li class="button--follow">フォロー中</li>
                    </ul> 
                    </li>

                    <li class="follow__user__content">ユーザ名<i class="fas fa-heart"></i></li>
                    <li class="follow__user__content">ユーザID</li>
                    <li class="follow__user__content">Nulla pellentesque hendrerit erat, luctus egestas arcu ultrices ut. In hac habitasse platea dictumst. </li>
                </ul>
                
                <ul class="follow__user">
                    <li>
                        <ul class="follow__user__content">
                        <li class="icon--middle"><i class="fas fa-smile"></i></li>
                        <li class="button--follow">フォロー中</li>
                    </ul> 
                    </li>

                    <li class="follow__user__content">ユーザ名<i class="fas fa-heart"></i></li>
                    <li class="follow__user__content">ユーザID</li>
                    <li class="follow__user__content">Nulla pellentesque hendrerit erat, luctus egestas arcu ultrices ut. In hac habitasse platea dictumst. </li>
                </ul>
            </div>
            
            
        
        
        </div>

    </body>
</html>