<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title>ホーム</title>
    </head>
    <body>
        <header class="header">
            <ul class="header__nav">
                <li><a href="#" class="link--header">
                    <i class="fas fa-home"></i>ホーム</a></li>
                <li><a href="notification.html" class="link--header">
                    <i class="fas fa-bell"></i>通知</a></li>
                <li><a href="#" class="link--header">
                    <i class="fas fa-envelope"></i>メッセージ</a></li>
                <li>
                    <form class="header--nav-search">
                    <input type="text">
                    <a href="search.html" class="link--header"><i class="fas fa-search"></i>検索</a>
                </form>
                </li>
                
            </ul>
            <div class="header__sub">
                <a href="user.html" class="link--header"><i class="fas fa-smile"></i></a>
                <a href="login.html" class="button--exit">ログアウト</a>
            </div>
        </header>
        
        <div class="search">検索キーワード</div>

        <div class="home">

            <!-- 投稿 -->
            <div class="post">
                <!-- 投稿ユーザ情報 -->
                <ul class="post-user">
                    <li class="post-user__content"><a href="#" class="link--content"><i class="fas fa-smile"></i></a></li>
                    <li class="post-user__content">ユーザ名</li>
                    <li class="post-user__content">ユーザID</li>
                    <li class="post-user__content">タイムスタンプ</li>
                </ul>
                <!-- 本文 -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit, odio ac auctor vehicula, mauris orci venenatis enim, a cursus mi arcu ac nunc. Vestibulum vel varius ex. Sed vitae mauris accumsan, gravida dolor sed, tristique libero. Sed sit amet urna ut metus semper ultricies. Morbi enim diam, feugiat non pulvinar eget, sagittis eleifend dui. Suspendisse semper sollicitudin magna eget placerat. Sed sed velit in felis eleifend tristique quis nec neque. Vivamus efficitur quis purus ut dictum. Donec ac mi elementum, convallis nunc eget, condimentum lectus.
                </p>
                <!-- メンション -->
                <ul class="post-mention">
                    <li class="post-mention__content"><i class="fas fa-reply"></i></li>
                    <li class="post-mention__content"><i class="fas fa-sync"></i></li>
                    <li class="post-mention__content"><i class="fas fa-star"></i></li>
                </ul>
            </div>

            <!-- 投稿 --> 
            <div class="post">
                <!-- ユーザ情報 -->
                <ul class="post-user">
                    <li class="post-user__content"><a href="#" class="link--content"><i class="fas fa-smile"></i></a></li>
                    <li class="post-user__content">ユーザ名</li>
                    <li class="post-user__content">ユーザID</li>
                    <li class="post-user__content">タイムスタンプ</li>
                </ul>
                <!-- 本文 -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit, odio ac auctor vehicula, mauris orci venenatis enim, a cursus mi arcu ac nunc. Vestibulum vel varius ex. Sed vitae mauris accumsan, gravida dolor sed, tristique libero. Sed sit amet urna ut metus semper ultricies. Morbi enim diam, feugiat non pulvinar eget, sagittis eleifend dui. Suspendisse semper sollicitudin magna eget placerat. Sed sed velit in felis eleifend tristique quis nec neque. Vivamus efficitur quis purus ut dictum. Donec ac mi elementum, convallis nunc eget, condimentum lectus.
                </p>
              
                <!-- メンション -->
                <ul class="post-mention">
                    <li class="post-mention__content"><i class="fas fa-reply"></i></li>
                    <li class="post-mention__content"><i class="fas fa-sync"></i></li>
                    <li class="post-mention__content"><i class="fas fa-star"></i></li>  
                </ul>
            </div>
            
            
            <!-- 投稿 --> 
            <div class="post">
                <!-- ユーザ情報 -->
                <ul class="post-user">
                    <li class="post-user__content"><a href="#" class="link--content"><i class="fas fa-smile"></i></a></li>
                    <li class="post-user__content">ユーザ名</li>
                    <li class="post-user__content">ユーザID</li>
                    <li class="post-user__content">タイムスタンプ</li>
                </ul>
                <!-- 本文 -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit, odio ac auctor vehicula, mauris orci venenatis enim, a cursus mi arcu ac nunc. Vestibulum vel varius ex. Sed vitae mauris accumsan, gravida dolor sed, tristique libero. Sed sit amet urna ut metus semper ultricies. Morbi enim diam, feugiat non pulvinar eget, sagittis eleifend dui. Suspendisse semper sollicitudin magna eget placerat. Sed sed velit in felis eleifend tristique quis nec neque. Vivamus efficitur quis purus ut dictum. Donec ac mi elementum, convallis nunc eget, condimentum lectus.
                </p>
              
                <!-- メンション -->
                <ul class="post-mention">
                    <li class="post-mention__content"><i class="fas fa-reply"></i></li>
                    <li class="post-mention__content"><i class="fas fa-sync"></i></li>
                    <li class="post-mention__content"><i class="fas fa-star"></i></li>  
                </ul>
            </div>
            
            
            <!-- 投稿 --> 
            <div class="post">
                <!-- ユーザ情報 -->
                <ul class="post-user">
                    <li class="post-user__content"><a href="#" class="link--content"><i class="fas fa-smile"></i></a></li>
                    <li class="post-user__content">ユーザ名</li>
                    <li class="post-user__content">ユーザID</li>
                    <li class="post-user__content">タイムスタンプ</li>
                </ul>
                <!-- 本文 -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit, odio ac auctor vehicula, mauris orci venenatis enim, a cursus mi arcu ac nunc. Vestibulum vel varius ex. Sed vitae mauris accumsan, gravida dolor sed, tristique libero. Sed sit amet urna ut metus semper ultricies. Morbi enim diam, feugiat non pulvinar eget, sagittis eleifend dui. Suspendisse semper sollicitudin magna eget placerat. Sed sed velit in felis eleifend tristique quis nec neque. Vivamus efficitur quis purus ut dictum. Donec ac mi elementum, convallis nunc eget, condimentum lectus.
                </p>
              
                <!-- メンション -->
                <ul class="post-mention">
                    <li class="post-mention__content"><i class="fas fa-reply"></i></li>
                    <li class="post-mention__content"><i class="fas fa-sync"></i></li>
                    <li class="post-mention__content"><i class="fas fa-star"></i></li>  
                </ul>
            </div>
            
            
            <!-- 投稿 --> 
            <div class="post">
                <!-- ユーザ情報 -->
                <ul class="post-user">
                    <li class="post-user__content"><a href="#" class="link--content"><i class="fas fa-smile"></i></a></li>
                    <li class="post-user__content">ユーザ名</li>
                    <li class="post-user__content">ユーザID</li>
                    <li class="post-user__content">タイムスタンプ</li>
                </ul>
              <!-- 本文 -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit, odio ac auctor vehicula, mauris orci venenatis enim, a cursus mi arcu ac nunc. Vestibulum vel varius ex. Sed vitae mauris accumsan, gravida dolor sed, tristique libero. Sed sit amet urna ut metus semper ultricies. Morbi enim diam, feugiat non pulvinar eget, sagittis eleifend dui. Suspendisse semper sollicitudin magna eget placerat. Sed sed velit in felis eleifend tristique quis nec neque. Vivamus efficitur quis purus ut dictum. Donec ac mi elementum, convallis nunc eget, condimentum lectus.
                </p>
              
                <!-- メンション -->
                <ul class="post-mention">
                    <li class="post-mention__content"><i class="fas fa-reply"></i></li>
                    <li class="post-mention__content"><i class="fas fa-sync"></i></li>
                    <li class="post-mention__content"><i class="fas fa-star"></i></li>  
                </ul>
            </div>

        </div>
    </body>
</html>