<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout :: base_head('ユーザ登録')"></head>
	
	<body>
		<!--/* ヘッダ */-->
		<header class="header">

			<div class="header__title">
				<h2>Twitterっぽいやつ</h2>
			</div>
			<div class="header__sub">
				<a th:href="@{/}" class="button--nav">ログイン</a>
				<a href="#" class="button--nav">ユーザ登録</a>
			</div>

		</header>

		<!--/* ユーザ登録 */-->
		<div class="login">
			<form th:action="@{/sign-up/save}" class="login-form" th:object="${signUpForm}">
				<p class="login__text">ユーザ登録</p>
				<div>
					<input type="text" th:field="*{dto.userId}" placeholder="ユーザID" class="field--user_id">
					<span th:if="${#fields.hasErrors('dto.userId')}" th:errors="*{dto.userId}"></span>
				</div>
				<!--/* パスワードが一致するか検証 */-->
				<span id="passwordMatcher">
					<!--/* パスワード */-->
					<input
						type="password" th:field="*{dto.password}" placeholder="パスワード" 
						v-model="password" 
						class="field--password">
						<span th:if="${#fields.hasErrors('dto.password')}" th:errors="*{dto.password}"></span>
						
					<!--/* 確認用パスワード */-->
					<input type="password" th:field="*{confirmPassword}" placeholder="パスワード(確認)"
						v-model="confirmPassword" 
						class="field--password">
						<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>

					<!--/* パスワードが一致しない場合はサブミット不可、非活性 */-->
					<input type="submit" value="ユーザ登録" 
						v-bind:disabled="!passwordMatched" 
						v-bind:class="{'button--save': true, objDisabled: !passwordMatched}">
				</span>				
				
			</form> 
		</div>
		
		<script type="module" src="../js/Validator/passwordMatcher.js"></script>
	</body>
</html>
